<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit movie</title>
</head>
<body>

    <form action="/edit-movie/{{id}}" method="get">
        <label for="title">Titre</label>
        <input id="title" type="text" name="title" placeholder="Entrez la titre">
        <label for="year">Annee</label>
        <input id="year" type="text" name="year" placeholder="Entrez l'Annee">
        <label for="actors">Nom des acteurs</label>
        <input id="actors" type="text" name="actors" placeholder="Entrez les nom des acteurs">
        <label for="plot">R´esum´e de l'histoire</label>
        <input id="plot" type="text" name="plot" placeholder="Entrez les R´esum´e de l'histoire">
        <label for="poster">Poster</label>
        <input id="poster" type="url" name="poster" placeholder="Entrez le poster">
        <input type="submit" value="Edit">
    </form> 
    
</body>
</html>